<!DOCTYPE html>
<html>
<head>
	<title>Latihan 2.1</title>
<body>
	<h2>{{ model.getText() }}</h2>
	<p>(lahir 12 Oktober 1988)[1] adalah seorang penyanyi dan penulis lagu Britania yang mulai menarik perhatian publik setelah ia tampil sebagai kontestan dalam acara televisi Britain's Got Talent pada tahun 2015. Ia kemudian merilis singel "Dancing On My Own" yang merupakan aransemen lagu Robyn. Singel ini mencapai posisi kedua dalam UK Singles Chart.</p>
	<p>M.ilham</p>
	<p>latihan 2.1</p>
</body>
</html>