<!DOCTYPE html>
<html>
<head>
	<title>form</title>
</head>
<body>
	<h2>Contoh form </h2>
	<form action="/" method="post">
		Nama: <br>
		<input type="text" name="nama" size="25"><br>
		Umur: <br>
		<input type="text" name="umur" size="25"><br>
		Password: <br>
		<input type="password" name="password" size="25"><br>
		Jenis Kelamin: <br>
		<input type="radio" name="jeniskelamin" value="P" checked>Pria
		<input type="radio" name="jeniskelamin" value="W" checked>Wanita <br>
		Alamat: <br>
		<textarea name="alamat" cols="40" rows="4"></textarea><br>
		Hobi: <br>
		<input type="checkbox" name="hobbies" value="Musik">Musik
		<input type="checkbox" name="hobbies" value="Membaca">Membaca
		<input type="checkbox" name="hobbies" value="Mancing">Mancing<br>
		<select name="agama" size="1">
			<option value="islam">islam</option>
			<option value="protestan">protestan</option>
			<option value="katolik">katolik</option>
			<option value="hindu">hindu</option>
			<option value="budha">budha</option>
		</select>
		<input type="hidden" name="kode" value="212"><br>
		<p>
			<input type="submit" value="kirim" >
		</p>
	</form>
	<H5>Muhammad Ilham Z</H5>
</body>
</html>