    <footer id="footer">
        <div class="container">
            <div class="row"></div>
        </div>

        <div class="footer-container">
            <div class="container">
                <div class="row">
                    
                    <div id="footer-bottom" class="col-md-12">
                        <div class="block-footer-line">
                            <div class="block-social col-md-6 col-sm-12 no-padding">
                                <p class="h4">Like &amp; Follow us</p>
                                <ul>
                                    <li class="instagram icon-gray">
                                        <a href="https://instagram.com"></a>
                                    </li>
                                    <li class="facebook icon-gray">
                                        <a href="https://facebook.com"></a>
                                    </li>
                                    <li class="twitter icon-gray">
                                        <a href="https://twitter.com"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-shipping col-md-6 col-sm-12 no-padding">
                                <span>Shipped By &nbsp;</span>
                                <span><img src="{{url_for('static', filename= 'img/shipping-jne.png') }}"> &nbsp; </span>
                                <span><img src="{{url_for('static', filename= 'img/shipping-ise.png') }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="copyright" class="row" align="center">
                    <div class="col-md-12">
                        <p>Copyright © 2019 All rights reserved</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>