<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'theme.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'jquery-ui.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'jquery.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'homeslider.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{url_for('static', filename= 'custom.css') }}" type="text/css" media="all">

    <script type="text/javascript" src="{{url_for('static', filename= 'core.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'theme.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'eicaptcha-contact-form.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'responsiveslides.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'homeslider.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'ps_searchbar.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'ps_shoppingcart.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename= 'custom.js') }}"></script>