{% include "head.html" %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h1>Selamat Datang Admin {{ username }}</h1>
            <h3>Great food comes first</h3>
            <p>Every day, more than 11 million guests visit BURGER WANG® restaurants around the world. And they do so because our restaurants are known for serving high-quality, great-tasting, and affordable food. Founded in 1954, BURGER WANG® is the second largest fast food hamburger chain in the world. The original HOME OF THE WHOPPER®, our commitment to premium ingredients, signature recipes, and family-friendly dining experiences is what has defined our brand for more than 50 successful years.</p>
            <h3>3G Capital</h3>
            <p>In 2010, 3G Capital, a global multi-million dollar investment firm focused on long term value creation, purchased Burger WANG Corporation, maWANG it a privately-held company. To learn more about 3G Capital</p>
            <div class="content">
              <img src="{{ url_for('static', filename='aboutBK-bg.jpg') }}">
            </div>
        </section>
    </section>
    <!--main content end-->
  </section>
  {% include "footer_script.html" %}
</body>
</html>